#main_box #scroll_box {
	
	overflow: hidden;
	font-size: 20px;
	font-family: "Arial";
	font-weight: bold;
	padding-top: 3px;
}



.scroll_box_marqueee{

	text-transform: uppercase;
	background-color: #fff;
	width: auto;
	overflow: hidden;
	position: absolute;
	left: 640px;
}

