@charset "utf-8";
@import url('css/scroll.css');
@import url('css/guia.css');

body {
	margin: 0px;
	padding: 0px;
	background-color: #000;


}

iframe {
    overflow:hidden;
}

.rounded_box {
	
	-moz-border-radius: 5px;

}
.rounded_box_15 {
	-moz-border-radius: 15px;
}

.rounded_box_10 {
	-moz-border-radius: 15px;
}
.boxShadow {
	
	-moz-box-shadow: 2px 2px 2px #000000; /* Firefox 3.6 and earlier */
	-webkit-box-shadow: 2px 2px 2px #000000; /* Safari and Chrome */
	box-shadow: 2px 2px 2px #000000;
}
.box_complemento_grilla {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 25px;
	font-weight: bold;
	color: #fff;
	text-align: left;
	float: left;
	width: 221px;
	padding-left: 5px;
	border-left: 2px solid #fff;
}



#main_box #container1 {
	font-family: Verdana, Geneva, sans-serif;
	color: #000;
	background-color: #fff;


	height: 80px;
	width: 510px;
	position: absolute;
	left: 760px;
	top: 232px;
}
#main_box #container1 #date_box {
	width: 478px;
	height: 40px;
	position: relative;
	font-size: 26px;
	color: #000;
	text-align: center;
}
#main_box #container1 #clock_box {
	width: 478px;
	height: 40px;
	position: relative;
	font-size: 26px;
	color: #000;
	text-align: center;
}



#main_box #weather_box{

	color: #000;
	background-color: #fff;


	height: 120px;
	width: 450px;
	position: absolute;
	left: 760px;
	top: 312px;
	padding-left: 60px;
}

/*



*/

#main_box {
	float: left;
	height: 720px;
	width: 1280px;
	background-color: #182983;
	/* background-image: url("../skin/background_main.png"); */
	background-image: url("../skin/full-background.png");
	background-repeat: repeat-x;
}

#main_box #video_box {
	height: 422px;
	width: 750px;
	position: absolute;
	left: 10px;
	top: 10px;
}

#main_box #img_box {
	height: 222px;
	width: 510px;
	position: relative;
	left: 760px;
	top: 10px;
	
}




#main_box #grid_box_compliment {


	height: 35px;
	width: 1260px;
	position: absolute;
	left: 10px;
	top: 432px;

	background-image: url(../skin/fondo_horas.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#main_box #grid_box_compliment #logo_operador {
	background-color: #FFF;
	height: 44px;
	width: 52px;
	position: absolute;
	z-index: 10;
	left: 40px;
	top: 1px;
}
#main_box #grid_box_compliment #box_complemento_horas {
	width: 912px;
	position: absolute;
	left: 348px;
	top: 0px;
	margin-top: 3px;
}


#main_box #grid_box {
    background-color: #000066;
	height: 205px;
	left: 10px;
	position: absolute;
	top: 467px;
	width: 1260px;
}
#main_box #scroll_box {
	background-color: #000;
	height: 40px;
	width: 1260px;
	position: absolute;
	left: 10px;
	top: 672px;
}



